.bloco-dia-semana {
    background-color: rgb(117, 183, 152);
    border-radius: 10px;
    padding: 10px;
}
.dia-semana {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.atividade-agenda {
    text-align: center;
    font-size: 20px;
}
.local-agenda {
    text-align: center;
    font-size: 14px;
}
.div-botao-agenda {
    text-align: center;
    padding-top: 10px;
}
.botao-agenda {
    background-color: rgb(35, 52, 68);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

